/************************************ tag selectors************************/
  body {
    background-color: #EAF6F6;
  }

  h1 {
    color: #66BFBF;
  }

  h2 {
    color: #66BFBF;
  }

  h3 {
    color: #66BFBF;
  }

  hr {
    background-color: white;
    border-style: none;
    width: 5%;
  }

img:hover {
  background-color:  gold;
}
/*******************************************class selectors *****************/

.circular {
  border-radius: 100%;
}


/************************************** id selectors *********************
No more than one ID per page***/

#heading {
  color: blue;
}
